@model List<AircraftViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    #map {
        height: 89vh;
        width: 100%;
    }
    
    .marker {
        background-image: url("/images/plane_icon.svg");
        background-size: cover;
        width: 45px;
        height: 45px;
    }
</style>

<div id="map"></div>

@section Scripts {
    <script>

        mapboxgl.accessToken = 'pk.eyJ1Ijoid3JoZW5zZWwiLCJhIjoiY20xaGFrNW1qMGR2eTJxcHg5emUyNmFucSJ9.vBW3Dg8d_C2Lf91yo7vhzg';
        const map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/wrhensel/cm1hao528041801rbae1pgj4z', // style URL
            center: [-122.354, 47.156], // starting position [lng, lat]
            zoom: 10, // starting zoom
        });
        
        const markerEl = document.createElement("div");
        markerEl.className = "marker";
        
        function setupUpdateListener() {
            let markers = [];
            const eventSource = new EventSource("@Url.Action("GetAircraftUpdate", "Home")");
            eventSource.onmessage = (event) => {
                for (let item of markers) {
                    item.remove();
                }
                markers = [];
                let data = JSON.parse(event.data);
                for (let item of data) {
                    if (item.Latitude && item.Longitude && item.GroundTrackAngle) {
                        let marker = new mapboxgl.Marker({ element: markerEl.cloneNode(), rotation: (item.GroundTrackAngle - 90) % 360 })
                            .setLngLat([item.Longitude, item.Latitude])
                            .addTo(map);
                        markers.push(marker);
                    }
                }
            }
        }
        
        $(document).ready(function () {
            setupUpdateListener();
        })
    
    </script>

}